{% extends "base.html" %}

{% block body %}
<div class="container d-flex flex-column  align-items-center py-5">
    <div class="card shadow-sm p-4" style="width: 600px;">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="h4 mb-0 text-dark">My Events</h2>
            <a href="{% url 'new_event' %}" class="btn btn-primary btn-sm">+ Create event</a>
        </div>

        {% if event_list %}
            <ul class="list-group">
                {% for event in event_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ event.get_absolute_url }}" class="text-decoration-none fw-medium">{{ event.title }}</a>
                            <div class="text-muted small">{{ event.date }}</div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'attendee_list' event.pk %}" class="btn btn-outline-primary btn-sm rounded-pill px-3 py-1">
                                Attendee list
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="text-center text-muted small">
                You haven't created any events yet.
            </div>
        {% endif %}
    </div>
</div>
{% endblock body %}
